@model IEnumerable<string>

<table>
    <tr>
        <td>
            <a class="btn btn-block btn-secondary"
                asp-action="List"
                asp-controller="Product"
                asp-route-category=""
                style="width: 7rem;">
                Home
            </a>
        </td>
    </tr>
@foreach (var category in Model)
{
    <tr>
        <td>
            <a class="btn btn-block 
                @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")
                asp-action="List"
                asp-controller="Product"
                asp-route-category="@category"
                asp-route-productPage="1"
                style="width: 7rem;">
                @category
            </a>
        </td>
    </tr>    
}
</table>
